body{
    background: white;
}

.cont1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#excusa {
    padding: 20px 30px;
    font-size: 50px;
}
